.button {
    padding: 10px;
    margin-top: 30px;
    background-color: white;
    font-size: 16px;
    border-color: #395970;
    font-weight: bold;
    width: 110px;
    margin-left: 50px;
}

.input{
    height: 30px;
    width: 270px;
    border-color: #395970;
}