.movieDetalis {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #efefef;
    margin-left: 20px;
}

.genreList{
    margin-left: 40px;
}

.buttonBack {
    padding: 10px;
    margin-top: 40px;
    background-color: white;
    font-size: 16px;
    border-color: #395970;
    font-weight: bold;
    margin-left: 20px;
}

.cast__reviews {
    display: flex;
    list-style-type: none;
}

.cast{
   margin-right: 40px;
}

.additional {
    margin-left: 30px;
}